Source: voctomix
Section: video
Priority: optional
Maintainer: Holger Levsen <holger@debian.org>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://github.com/voc/voctomix
Vcs-Git: git://anonscm.debian.org/collab-maint/voctomix.git
Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/voctomix.git

Package: voctomix
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 libgstreamer1.0-0 (>=1.8.1-1~),
 gstreamer1.0-plugins-bad, (>=1.8.0-1~),
 gstreamer1.0-plugins-base (>=1.8.1-1~),
 gstreamer1.0-plugins-good (>=1.8.1-1~),
 gstreamer1.0-plugins-ugly (>=1.8.1-1~),
 gstreamer1.0-tools,
 python3,
 python3-gi,
 gir1.2-gstreamer-1
Description: Full-HD Software Live-Video-Mixer
 The Voctomix Project consists of three parts:
 - Voctocore, the videomixer core-process that does the actual video- and
   audio crunching
 - Voctogui, a GUI implementation in GTK controlling the core's functionality
   and giving visual feedback of the mixed video
 - Voctotools (not yet implemented), a collection of tools and examples on how
   to talk to the core-process, feeding and receiving video-streams
 .
 Voctomix is written in Python and relies an GStreamer.
