[Desktop Entry]
GenericName=VoctoGUI
Exec=/usr/bin/voctogui
Icon=voctogui
Path=/usr/bin
Type=Application
Terminal=false
Name=VoctoGUI
Categories=AudioVideo;
Comment=Voctomix graphical user interface
Keywords=stream;video;audio;mixer;
